<p>Dear {{name}},</p>

<p>You've been invited to attend Immanuel Bible Church in person <strong>this Sunday, {{sundayDate}}</strong>. Will you be attending?</p>

<p style="font-size: 120%; font-weight: bold; color: red">
    Please <span style="background-color: yellow"><a href="{{responseUrl}}">RSVP here</a></span> before the deadline of <u>{{deadlineDate}}</u>.
</p>

<p>(You can always change your response at any time before the deadline by going to the same RSVP link above.)</p>

<p>Please do not reply to this automated email. If you have any questions or issues, please contact {{contactName}} at <a href="mailto:{{contactEmail}}">{{contactEmail}}</a>.</p>

<p>
    Thank you!<br>
    Immanuel Bible Church
</p>
